/*
Margrét Vala Björgvinsdóttir - margretb17@ru.is
Anna Margrét Jónasdóttir - annamj17@ru.is
*/
@keyframes static {
    from {
      background-image: url("resources/tv.png"),
      repeating-linear-gradient(
        to right, 
           white, 
           white 45px, 
           #C1BE3D 45px, 
           #C1BE3D 90px, 
           #54BDBF 90px, 
           #54BDBF 135px, 
           #57BC37 135px, 
           #57BC37 180px, 
           #B02DBA 180px, 
           #B02DBA 225px, 
           #B12318 225px, 
           #B12318 270px, 
           #0019B8 270px, 
           #0019B8 315px, 
           black 315px, 
           black 360px);
      background-size: cover, 80% 80%;
      background-position: center, 20px 20px;
    }
    to {
      background-image: url("./resources/tv.png"),
      repeating-linear-gradient(to left, white, white 45px, #C1BE3D 45px, #C1BE3D 90px, #54BDBF 90px, #54BDBF 135px, #57BC37 135px, #57BC37 180px, #B02DBA 180px, #B02DBA 225px, #B12318 225px, #B12318 270px, #0019B8 270px, #0019B8 315px, black 315px, black 360px);
      background-size: cover, 80% 80%;
      background-position: center, 20px 20px;
    }
  }

@keyframes level-1 {

    0% {
        background-image: url(resources/tv.png),
                          url(resources/stage1.png);
        background-size: cover, 800% auto;
        background-position: center, -1% 10px;
    }
    100% {
        background-image: url(resources/tv.png),
                          url(resources/stage1.png);
        background-size: cover, 800% auto;
        background-position: center, 102% 10px;
    }
}

@keyframes move-cartridge {
    0% {
        opacity: 1;
    }
    70% {
        opacity: 0.8;
    }
    100% {
        opacity: 0;
        bottom: 10%;
        left: 40%;
    }
}

.intro {
    background-image: url("./resources/tv.png"), url("./resources/intro.png") !important     
}

.level-1 {
    background-image: url("./resources/tv.png"), url("./resources/stage1.png");
    animation-name: level-1; 
    animation-duration: 20s; 
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.static {
    animation-name: static;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.move-cartridge {
    animation-name: move-cartridge; 
    animation-duration: 2s; 
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#television {
    height: 350px;
    width: 500px;
    background-repeat: no-repeat;
    margin: 0 auto;
    background-position: center;
    background-image: url(resources/tv.png);
    background-size: cover, 73% 76%;
    background-position: center, 20px 26px;
}

#nes-console {
    height: 150px;
    width: 250px;
    margin: 0 auto;
    margin-top: 40px;
    background-image: url("./resources/nes.png");
    background-size: contain;
    background-repeat: no-repeat;
}

#nes-cartridge {
    position: absolute;
    height: 70px;
    width: 70px;
    left: 275px;
    bottom: 0px;
    background-image: url("./resources/contra-cartridge.png");
    background-size: contain;
    background-repeat: no-repeat;
    transform: perspective(100px) rotateX(45deg) rotateZ(30deg);
}

