/* EDIT BELOW THIS LINE */

/* Add styles for section-1 */
.section-1 {
     display: flex;                /* create nested flex container */
     height: 200px;
}

.section-1 .flex-item {
    display: flex;                /* create nested flex container */
    flex: 0.5;
    justify-content: center;      /* center text horizontally */
    align-items: center;          /* center text vertically */
}

.section-1 div:nth-child(odd) {
    flex: 1;
}

/* Add styles for section-2 */
.section-2 {
    flex-direction: column-reverse;
    justify-content: flex-end;
}

.section-2 .flex-item {
    justify-content: center;
}

.section-2 div:nth-child(5) {
    align-self: flex-end;
    flex-grow: 1;
    width: 50%;
}

.section-2 div:nth-child(1) {
    align-self: flex-start;
    flex-grow: 1;
    width: 50%;
}

/* Add styles for section-3 */
.section-3 {
    flex-flow: column wrap;
}

.section-3 div:nth-child(1) {
    flex-basis: 100%;
}

.section-3 div:nth-child(2){
    flex-basis: 50%;
}

.section-3 div:nth-child(3){
    flex-basis: 50%;
}

.section-3 div:nth-child(4){
    flex-basis: 50%;
}

.section-3 div:nth-child(5){
    flex-basis: 50%;
}

.section-3 div:nth-child(6) {
    flex-basis: 100%;
}

/* Add styles for section-4 */
.section-4 {
    flex-flow: column wrap;
    justify-content: center;
    align-content: space-between;
}

.section-4 .flex-item {
    height: 60px;
    width: 100px;
}

/* Add styles for section-5 */
.section-5 {
    flex-flow: column-reverse wrap-reverse;
    align-items: center;
    justify-content: center;
}

.section-5 .green:nth-child(5){
    order: 1;
}

/* Add styles for section-6 */
.section-6 {
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: row-reverse;
}

/* Add styles for section-7 */
.section-7 {
    flex-flow: column wrap-reverse;
    justify-content: space-around;
}

.section-7 .carebear-blue {
    order: 3;
    flex-basis: 25%;
}

.section-7 .carebear-green {
    order: 2;
    flex-basis: 25%;
}

.section-7 .carebear-red {
    order: 1;
    flex-basis: 25%;
}

.section-7 .carebear-pink {
    order: 5;
    align-self: flex-end;
    flex-basis: 20%;
}

.section-7 .carebear-yellow {
    order: 4;
    flex-basis: 25%;
}

/* Add styles for section-8 */
.section-8 {
  flex-flow: column-reverse wrap;
}
.section-8 .flex-item:not(:first-child) {
  flex-grow: 1;
} 
.section-8 .flex-item:nth-child(1) {
  flex-basis: 100%;
}