@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Josefin Sans Regular'), local('JosefinSans-Regular'), url(https://fonts.gstatic.com/s/josefinsans/v12/Qw3aZQNVED7rKGKxtqIqX5EUDXx9.ttf) format('truetype');
}
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Josefin Sans Bold'), local('JosefinSans-Bold'), url(https://fonts.gstatic.com/s/josefinsans/v12/Qw3FZQNVED7rKGKxtqIqX5Ectllte10k.ttf) format('truetype');
}
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 400;
  src: local('NanumGothic'), url(https://fonts.gstatic.com/s/nanumgothic/v13/PN_3Rfi-oW3hYwmKDpxS7F_D-djb.ttf) format('truetype');
}
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 700;
  src: local('NanumGothic Bold'), local('NanumGothic-Bold'), url(https://fonts.gstatic.com/s/nanumgothic/v13/PN_oRfi-oW3hYwmKDpxS7F_LQv3LyVsj.ttf) format('truetype');
}
/* General */
body {
  display: grid;
  grid-template-columns: auto 250px;
  background-color: #F283B6;
}
#right-aside,
#right-aside-inside {
  text-align: center;
  background-color: #B5BFA1;
  color: #FFFFFF;
  border-left: 8px solid #6E9887;
  padding: 40px;
}
#right-aside img,
#right-aside-inside img {
  width: 150px;
}
main {
  display: grid;
  grid-template-rows: auto;
  grid-template-areas: "primary-nav" "secondary-nav" "cities" "banner" "footer";
}
main #primary-nav {
  grid-area: primary-nav;
  display: grid;
  justify-content: center;
  border-bottom: 8px solid #E06C9F;
}
main #primary-nav img {
  width: 200px;
}
main #secondary-nav {
  grid-area: secondary-nav;
  color: white;
  display: grid;
  align-items: center;
  background-color: #EDBFB7;
  font-weight: bold;
}
main .cities {
  grid-area: cities;
  display: grid;
  grid-template-columns: repeat(3, auto);
}
main .banner-area {
  background-color: #EDBFB7;
}
main .banner-area section#banner {
  grid-area: banner;
  grid-template-rows: auto auto;
  align-items: center;
  text-align: center;
  padding: 40px;
  color: white;
  font-size: 1.5em;
}
main #right-aside-inside {
  display: none;
}
/* Mobile */
/* Tablet */
/* Desktop */
@media screen and (min-width: 1024px) {
}
